<h1>Lemon Sharbat</h1>
<img src="https://foodielogy.com/wp-content/uploads/2023/04/3e80bf10-20d2-4a3a-8503-e82c8bfbb3b5-800x530.jpg" alt="A glasss filled with lemon Sharbat with a slice of lemon tucked on it's rim" height="600" width="1000">
<p>
Lemon Sharbat is an indian summer drink which is tasty as well as one of the best remedies to beat the heat. This drink is very quick and easy to make and requires minimal ingredients.
</p>
<h2>Lemon Sharbat Recipe</h2>
<h4>Ingredients</h4>
<ul>
	<li>1 medium sized lemon</li>
	<li>1 glass cold water</li>
	<li>1 spoon Sugar (optional)</li>
	<li>Salt to taste</li>
	<li>2-3 mint leaves (optional)</li>
</ul>
<h4>Steps</h4>
<ol>
	<li>Cut the lemon in half and juice it using a lemon juicer or by hand.</li>
	<li>Add the salt and sugar.</li>
	<li>Add water and stir well till sugar dissolves.</li>
	<li>Put the mint leaves in.</li>
	<li>Serve it with a straw or keep it in fridge to drink later.</li>
</ol>
