<h1>Sheera</h1>
<img src="https://i.ytimg.com/vi/4fydCX5OqYY/maxresdefault.jpg" alt="Close up shot of a sweet semolina pudding with nuts on it" height="600" width="1000">
<p> 
Sheera is an indian dish also known as "suji ka halwa" in hindi Which is made using semolina flour and is a quick sweet dish. It is very easy to prepare and is often used for celebrations. It basically needs only semolina, sugar and water/milk(for a richer sheera). But this following recipe is a bit more fancy which could be used to serve guests or celebrate small victories.
</p>
<h2>Sheera Recipe</h2>
<h4>Ingredients</h4>
<ul>
	<li>1 cup semolina flour</li>
	<li>1 cup sugar</li>
	<li>2-3 cardomom pods or powdered cardomom</li>
	<li>2 cups milk or water</li>
	<li>5-6 nuts(almonds/cashews)</li>
</ul>
<h4>Steps</h4>
<ol>
	<li>Roast semolina until light brown. Keep an eye on it since it can go from light brown to burnt real qick</li>
	<li>Add milk and sugar and keep stirring until the sugar dissolves. The flour will fluff up and increase in size. </li>
	<li>Add the cardomom and wait for it to boil and thicken accroding to your preference.</li>
	<li>Finally add your nuts, mix it well.</li>
	<li>Serve hot in a small bowl and garnish with some more nuts.</li>
</ol>
