<h1>Stir Fried Capsicum</h1>
<img src="https://2.bp.blogspot.com/-aGPoVj4d8z8/WmXkB5DaUcI/AAAAAAAABxw/gjRRx2KHgVc_fzRRJVUt00FFJd198F1IQCLcBGAs/s1600/Capsicum6.jpg" alt="Close up shot of the finished dish" height="600" width="1000">
<p>
This is a tasty spicy dish or as we call it "chatpati" dish in hindi. It can also be had with dal and rice.
</p>
<h2>Stir Fry Capsicum</h2>
<h4>Ingredients</h4>
<ul>
	<li>3-4 medium sized capsicum</li>
	<li>1 tbsp oil</li>
	<li>1 tsp garam masala</li>
	<li>1 tsp red chilli powder</li>
	<li>1 tsp turmeric powder</li>
	<li>1/2 tsp cumin seeds</li>
	<li>Salt as per taste</li>
</ul>
<h4>Steps</h4>
<ol>
	<li>Cut the capsicum in small or big pieces as preffered.</li>
	<li>Add oil to the pan and put cumin seeds.</li>
	<li>Once the seeds start to pop add the capsicum in and stir it till covered in oil.</li>
	<li>Then add the garam masala, red chilli powder and stir till fragrant.</li>
	<li>Add the turmeric powder and salt and stir well. Keep covered till cooked.</li>
	<li>Serve hot with roti or dal,chawal.</li>
</ol>
