h1 {
	text-align: center;
	background-color: #FFA7A7;
}

li {
	font-family: "Georgia", serif;
	font-size: 20px;
	display: block;
	background-color: #80FF80;
	margin: 8px;
	padding: 8px;
	text-align: center;
}
